body{
    display:flex;
    justify-content: center;
    background-color: rgba(54, 69, 74, 1) ;

}
li:hover{
    cursor:pointer;
}
a{
    text-decoration: none;
}
p:hover{
    cursor:default;
}
.nav{
    position:fixed;
    width:1280px;
    height:71px;
    z-index: 1;
    background-color: rgba(54, 69, 74, 0.7);
}
nav ul{
    list-style: none;
    font-size: 18px;
    padding-top: 23px;
}
nav ul li {
    display: inline;
    margin-right:23px;
    color:#FDF9F5;
    font-family:Mohave;
    cursor:pointer;
}
.name{
    font-family:Pompiere;
    font-size: 24px;
    color:#FDF9F5;
    position:fixed;
    margin-left: 588px;
    padding-top:22px;
  
}
.navIcon{
    margin-left: 795px;
}
.navIcon img:hover{
    cursor:pointer;
}
.navIcon p:hover{
    cursor:pointer;
}
.LogIn:hover{
    cursor:pointer;
}
.LogIn{
    width:76px;
    position:fixed;
    margin-top: 24px;
    font-family: Mohave;
    font-size:18px;
    margin-left: 12px;
    color: rgba(253, 249, 245, 1);
}
.LogIn p{
    margin-left: 30px;
}
.User{
    position:fixed;

}
.ShoppingCart{
  margin-top:24px;
  margin-left:120px;
}
.navLine{
    position:fixed;
    min-width:1280px;
    min-height:1px;
    margin-top: 62px;
    background-color:#FDF9F5;
}
.MainPicContainer{
    height:425px;
}
.MainPic{
    z-index: 0;
}
.MainPicName{
    position:relative;
    margin-left: 570px;
    margin-bottom: 0px;
    margin-top: -466px;
    padding-top: 170px;
    font-family: Pompiere;
    font-size:48px;
    color:rgba(54, 69, 74);
}
.MainPicSub{
    position: relative;
    font-size: 24px;
    font-family: Mohave;
    margin-left: 585px;
    margin-top: 2px;
    margin-bottom: 55px;
    color:#36454A;


}
.MainPicShop{
    position:relative;
    width:113px;
    height:42px;
    padding:8px 18px;
    border-width:3px;
    border-style:solid;
    border-color:#FDF9F5;
    margin-left: 580px;
    margin-top:16px;
    color:#FDF9F5;
    font-size: 18px;
    font-family: Mohave;
}
.MainPicShop:hover{
    padding-top:11px;
    padding-left:20px;
    color:#36454A;
    font-weight: bold;
    border:none;
    background-color: rgba(253, 249, 245, 0.8);
    cursor:pointer;
}
.MainPicShop p:hover{
    cursor:pointer;
}
.NewArrivals{
    display:flex;
    position: absolute;
    margin-top: 413px;
    height:570px;
    width:1280px;
    background-color: #FDF9F5;

}
.NewArrivalsLine1{
    display:flex;
    position: relative;
    min-width:217px;
    max-height: 1px;
    background-color: #000000;
    margin-left: -735px;
    margin-top:68px;
}
.NewArrivalsTitle{
    display:flex;
    position:relative;
    font-family: Mohave;
    font-size:36px;
    margin-top:46px;
    margin-left:33px;
    width:163px;
    color: rgba(54, 69, 74, 1);
    height:50px;

}
.NewArrivalsLine2{
    display:flex;
    position: relative;
    min-width:217px;
    max-height: 1px;
    background-color: #000000;
    margin-left: 30px;
    margin-top:68px;
}
.NewArrivalsImg1{
    position: relative;
    margin-top: 145px;
    margin-left: 240px;
    max-height:214px;
}
.NewArrivalsImg{
    position: relative;
    margin-top: 145px;
    margin-left: 18px;
    max-height:214px;
}
.NewArrivalsImg:hover{
    cursor:pointer;
}
.NewArrivalsImg1{
    cursor:pointer;
}
.NewArrivalsName1{
    margin-top: 378px;
    margin-left: -708px;
    font-family:Mohave;
    font-size: 24px;
    margin-right: 75px;
    height:50px;
}
.NewArrivalsName{
    margin-right: 68px;
    margin-top: 378px;
    font-family:Mohave;
    font-size: 24px;
    height:50px;
}
.NewArrivalsName1:hover{
    cursor:pointer;
}
.NewArrivalsName:hover{
    cursor:pointer;
}
.NewArrivalsShopAll{
    font-size:18px;
    font-family:Mohave;
    width:154px;
    max-height:42px;
    padding:  8px 42px ;
    background-color:#36454A;
    color:#FDF9F5;
    margin-left: -544px;
    margin-top:469px;
}
.NewArrivalsShopAll:hover{
    background-color:#64868D;
    cursor:pointer;
}
.ReadOurBlogContainer{
    position:absolute;
    margin-top: 984px;
    width:1280px;
    height:229px;
    background:url("../image/ReadOurBlog.png");
}
.ReadOurBlog{
    color:#FDF9F5;
    width:250px;
    height:100px;
    margin-left: 515px;
    margin-top: 66px;
    font-family: Mohave;
    font-size: 36px;
    padding: 23px 26px;
    cursor:pointer;
}
.ReadOurBlog:hover{
    border-width: 3px;
    border-color: #FDF9F5;
    border-style:solid;
    cursor:pointer;
}
.ReadOurBlog p:hover{
    cursor:pointer;
}
.footer{
    position:absolute;
    width:1280px;
    height:400px;
    margin-top:1212px;
    background-color: #AEB7B9;

}
.footerInfo{
    position:relative;
    width:410px;
    height:300px;
    margin-left:151px;
}
.GetToKnow{
    width:256px;
    height:83px;
    font-family:Mohave;
    font-size:34px;
    font-weight:bold;
    margin-top:45px;
    color: rgba(54, 69, 74, 0.9);
}
.footer ul{
    margin-top:34px;
   list-style-image:url('../image/dot.png');
}
.footer ul li{
    font-size:22px;
    font-family:Mohave;
    font-weight: bold;
    color: rgba(54, 69, 74, 0.9);
}
.footerPhone{
    margin-top:20px;
    font-size:22px;
    font-family:MohaveLight;
    font-weight:bold;
    color: rgba(54, 69, 74, 0.9);

}
.footerIcon{
    position:relative;
    margin-top: -272px;
    margin-left: 617px;
    width:300px;
    height:150px;
}
.footerIcon img:hover{
    cursor:pointer;
}
.footerFollow{
    margin-left: 10px;
    margin-bottom: 4px;
    font-size:24px;
    font-family:Mohave;
    font-weight:bold;
    color:#36454A;
}
.footerShortLine{
    min-height: 1px;
    width: 213px;
    background-color: #36454A;
}
.footerIcon img{
    width:48px;
    height:48px;
    margin-left: 14px;
    margin-top:38px;
}
.footerHelpContainer{
    position:relative;
    margin-top: -150px;
    margin-left: 891px;
    width:300px;
    height:150px;
}
.footerHelpContainer p{
    margin-left: 10px;
    margin-bottom: 4px;
    font-size:24px;
    font-family:Mohave;
    font-weight:bold;
    color:#36454A;

}
.Faq{
    width:40px;
    margin-top: 30px;
}
.Faq:hover{
    cursor:pointer;
}
.footerHelpPayment{
    width:160px;
}
.footerHelpPayment:hover{
    cursor:pointer;
}
.footer form{
    position:relative;
    margin-top:29px;
    margin-left:609px;  
    width:500px;
}
.footerFormInput{
    width:328px;
    height:42px;
    font-family: Mohave;
    font-weight:400;
    font-size: 18px;

}
.footerFormButton{
    margin-left: 10px;
    padding-left: 25px;
    width:154px;
    height:42px;
    background-color: #36454A;
    color:#FDF9F5;
    font-size: 18px;
    font-family: Mohave;
}
.footerFormButton:hover{
    cursor:pointer;
}
.footerBrand{
    margin-top: 68px;
}
.footerLongLine{
    margin-top: 4px;
    position:relative;
    min-height: 1px;
    min-width: 1024px;
    background-color: #36454A;
}
.footerBrand p{
    margin-top: 8px;
    display:flex;
    justify-content: center;
    font-size:14px;
    font-family: Mohave;
}

@font-face{
    font-family:Mohave;
    src: url(../font/Mohave/static/Mohave-Light.ttf);
}
@font-face{
    font-family:Pompiere;
    src: url(../font/Pompiere/Pompiere-Regular.ttf);
}
@font-face{
    font-family:MohaveSemiBold;
    src: url(../font/Mohave/static/Mohave-Medium.ttf);
}
@font-face{
    font-family:MohaveLight;
    src: url(../font/Mohave/static/Mohave-Light.ttf);
}
